html,
body,
div,
h1,
a {
  margin: 0;
  padding: 0;
}

html,
body {
  font-size: 19px;
  font-family: 'Verdana', 'Arial';
  color: #333;
  background-color: #333;
}

.container {
  width: 100%;
  min-height: 100%;
  text-align: center;
  padding: 50px 0;
}

.content {
  display: inline-block;
  min-width: 370px;
  width: 50px;
  min-height: 600px;
  padding: 50px;
  box-sizing: border-box;
  box-shadow: 0px 1px 3px 0px rgba(51, 51, 51, 0.2), 0px 1px 1px 0px rgba(51, 51, 51, 0.14),
    0px 2px 1px -1px rgba(51, 51, 51, 0.12);
  background-color: aliceblue;
  text-align: left;
  border-radius: 10px;
}

.content h1 {
  text-align: center;
  margin-bottom: 30px;
}
.content a {
  line-height: 1.7;
  color: #333;
  text-decoration: none;
  display: block;
}

.content a:before {
  content: '-';
  padding-right: 10px;
}
